* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(181, 235, 217);
}

.titulo {
    text-align: center;
    font-size: 4rem;
    padding: 2rem;
    padding-bottom: 4rem;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5rem;
}

.tabla th {
    background-color: bisque;
    border: 1px solid red;
    padding: 8px;
    text-align: left;
}

.tabla td {
    border: 1px solid blue;
    padding: 8px;
    text-align: left;
}